@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --darkblue: #204649;
    --teal:  #5ddfba;
    --mint: #95C5C8;
    --blush: #F0C0AA;
    --pink: #C06C84;
    --purple: #6C5B7B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif;*/
    font-size: small;
    color: var(--darkblue);   
    height: 100vh;
    background-color: var(--darkblue);
}
nav {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blush);
    height: 10%;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--blush);
}
nav ul li {
    margin: 0.5rem;
}
nav a {
    text-decoration: none;
    color: var(--darkblue);    
}
/* HERO */
.hero {
    background-color: #5ddfba;
    background:url('https://source.unsplash.com/u27Rrbs9Dwc');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--teal);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80%;
}
.hero h1 {
    font-size: 2.5rem;
}
.hero h2 {
    font-family: 'Pacifico', cursive;
}
.fa {
    font-size: 30px;
    color: var(--darkblue);    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkblue);
    padding: 1rem;
    color: var(--blush);
    text-align: center;
    min-height: 70%;
}
.container h2 {
    margin: 1rem 0rem;
}
section {
    overflow: hidden;
}
/* TABLE */
table {
    font-size: xx-small;
    display: flex;
    width: 100%;
}
tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid thin var(--blush);
    padding: 0.5rem;
}
td {
    padding: 0.2rem;
    text-align: center;
    border: 0.2rem;
    flex: 1;
}
table .rating {
    font-weight: 600;
    font-size: small;
}
table img {
    margin: 0.7rem 0rem;
    width: 100%;
}
table img:hover {
    scale: 110%;
    transition: 0.7s;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    font-size: x-small;
    background-color: var(--blush);
    align-items: center;
    height: 10%;
}
.footer-right {
    text-align: center;
}
/* CONTACT */ 
form {
    display: flex;
    flex-direction: column;
    background-color: var(--blush);
    padding: 1rem;
    color: var(--darkblue);
    width: 70%;
}
.form-img {
    margin-bottom: 1rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
    color: white;
}
form img {
    max-width: 100%;
    opacity: 0.6;
}
.form-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #204649;
}
form input[type="text"],form input[type="email"] {
    background: none;
    border: none;
    border-bottom: 0.001rem solid var(--darkblue);
    margin-bottom: 0.5rem;
}
textarea {
    background: none;
    border: 0.001rem solid var(--darkblue);
    padding: 0.2rem;
}
form input[type="submit"] {
    margin-top: 0.5rem;
    padding: 0.2rem 0rem;
    background-color: var(--teal);
    border: none;
}
/* NEWSLETTER */
#Newsletter {
    position: relative;
    display: inline-block;
    margin: 0.3rem 0rem;
}
::placeholder {
    font-size: xx-small;
}
#Newsletter input[type=text] {
    position: relative;
    height: 1.2rem;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 0.2rem;
 }
#Newsletter input[type=submit] {
    position:absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    border: none;
    color: var(--darkblue);
    display: block;
    background-color: var(--teal);
    cursor: pointer;
    padding: 0rem 0.3rem;
    font-size: x-small;
    font-weight: 500;
}
#Newsletter input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}
input[type=submit]:hover, #Newsletter input[type=submit]:hover  {
    background-color: var(--purple);
    color: var(--teal);
    transition: 0.3s;
    transition-timing-function: ease-in;
}
/* MEDIA QUERIES */

@media (max-height: 660px) and (max-width: 1400px ){
    .hero {
        height: 80%;
    }
    footer {
        height: 17%;
    }
}
@media (min-width: 560px) {
    section {
        width: 80%;
    }
    section h2, table .rating {
        font-size: medium;
    }
    table {
        font-size: small;
    }
    tr {
        flex-direction: row;
        padding: 1rem;
    }
    .description {
        flex-grow: 2;
    }
    form {
        width: 30%;
    }
}
@media (min-width: 1000px) {
    nav {
        font-size: x-large;
    }
    .hero h1 {
        font-size: 8rem;
    }
    .hero h2 {
        font-size: 5rem;
    }
}
@media (min-width: 1300px)  {
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 3rem;
    }
    nav {
        font-size: large;
    }

    table {
        font-size: large;
    }
    section h2, table .rating {
        font-size: xx-large;
    }
    section {
        width: 70%;
    }
    table img {
        min-width: 20rem;
    }
    footer {
        font-size: large;
    }
}
